/* Navbar */
#navbar .logo {
    float: none;
    text-align: center;
}

/* be sure that new attribute overwrite the previous one 
like instead of #navbar li -> #navbar ul li */
#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: 1px  dotted  #444;
}

/* Showcase */
#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

/* Home Info */
#home-info {
    height: 550px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

#home-info .info-content h2{
    margin-top: 15%;
}

/* Boxes */
.box {
    float: none;
    width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}

/* Contact */
/* we want to target boxes on contact page, not all the boxes */
#contact-info .box {
    border-bottom: #444 dotted 1px;
}